html 
    head 
        title First Html page
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet")
    body 
        div(class="container-fluid")
            div(class="row")
                div(class="col-12")
                    img(src="/assets/Banner-1.png" class="img img-fluid")
            div(class="row")
                div(class="col-4")
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia neque quod ullam nulla nostrum veniam error aperiam ipsa eius nam, reiciendis sunt exercitationem nisi impedit, praesentium atque cupiditate, temporibus deserunt?
                div(class="col-4")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi expedita impedit quo est similique! Officiis corrupti reiciendis est eveniet? Esse accusantium adipisci deleniti veniam voluptatem similique beatae nesciunt, iure aspernatur?
                div(class="col-4")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus incidunt, repudiandae quod consequatur facilis voluptatem explicabo et sequi nobis. Enim vel molestias rem! Eos doloribus vitae necessitatibus dicta beatae molestiae.